body{
    padding: 0;
    margin: 0;
    font-family: "Jua", sans-serif;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(./images/fontback.png);
    background-size: cover;
}
form{
    background-color: white;
    border: 2px solid black;
    width: 25%;
    margin-top: 36px;
    margin-bottom: 27px;
    border-radius: 10px;
    border: 1px;
}
#welcome{
    display: flex;
    font-size: 16px;
    padding-top: 25px;
    justify-content: center;
    color: rgb(252, 202, 20);
}
.fa-face-smile{
    align-items: center;
    margin-top: 25px;
    font-size: 64px;
    margin-left: 146px;
    color: rgb(255, 217, 0);
}
#sign{
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: #183052;
}
#email{
    margin-top: 40px;
    color: #183153;
}
#let{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    color: #183052;
}
h5{
    font-size: 16px;
    padding-left: 24px;
    margin: 12px 0px 8px;
    color: #183052;
}
input{
    width: 74%;
    height: 55px;
    padding-left: 55px;
    margin-left: 22px;
    margin-bottom: 15px;
    margin-top: -1px;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 15px;
}
a{
    display: flex;
    justify-content: end;
    margin-top: 18px;
    padding-right: 28px;
    color: #146EBE;
}
button{
    background-color: #FFD43B;
    height: 50px;
    width: 83%;
    border: black;
    border-radius: 10px;
    margin-left: 28px;
    margin-top: 40px;
    font-family: "Jua", sans-serif;
}
.fa-envelope{
    position: absolute;
    top: 18px;
    left: 45px;
    font-size: 25px;
}
.input1{
    position: relative;
}
.fa-lock{
    position: absolute;
    top: 18px;
    left: 45px;
    font-size: 25px;
}
.input2{
    position: relative;
}
/* Hover */
.input2:hover .fa-lock{
    transform: scale(1.1);
    padding-bottom: 200px;
}
.input1:hover .fa-envelope{
    transform: scale(1.1);
    padding-bottom: 200px;
}